
$ltblue:#0071B3;
$grey:#3b3b3b;
$white:#fff;

.pane-user-contest-header{
  
  font-size:18px;
  font-weight:bold;
  
  .pane-user-contest-title{
    font-size:30px;
    border-bottom:3px solid $grey;
  }
  
}